@media (max-width: 780px) {
  body {
    overflow-x: hidden;

    .nav {
      height: 56px;
      position: fixed;
      z-index: 19620;
      background-color: beige;
      align-items: center;
      padding: 0 16px;

      .nav-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: absolute;
        top: 0px;
        right: -100%;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: -3px 0 15px rgba(0, 0, 0, 0.35);
        width: 80%;
        height: 100vh;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        transition: 0.75s ease-out;
      }
      .nav-list li {
        height: auto;
        box-sizing: border-box;
      }
      .logo {
        width: 120;
        height: 55;
      }
      .menu-icon,
      .close-button {
        padding: 5px;
        display: block;
      }
      .menu-toggle:checked ~ .nav-list {
        right: 0%;
      }
      .menu-toggle:checked ~ #overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
      }
    }
    .come-section {
      display: block;
      align-content: center;
      width: 100%;
      background-size: cover;

      button {
        margin-left: 80px;
      }

      p {
        font-size: 20px;
        margin-right: 16px;
        margin-left: 16px;
        padding-left: 8px;
        padding-right: 8px;
      }
      h2 {
        font-size: 20px;
        margin-left: 30px;
        margin-right: 30px;
      }
      .button-success {
        align-self: center;
      }
    }
    .service-section {
      display: block;
      flex-direction: row;
      max-height: fit-content;
      margin: 10px;

      .profile {
        display: block;
        margin: 16px;
        padding: 0px;

        .mainp {
          height: auto;
          margin: 8px;

          img {
            width: 100%;
            height: auto;
          }
        }
        .animate {
          display: none;
          height: auto;
          margin-left: 10px;
          margin-top: 10px;
        }
      }

      .message-section {
        display: block;
        // flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 16px;
        padding: 5px;
        height: auto;
      }
    }
    .container {
      margin: 32px 16px;
      height: auto;

      .sunday {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 12px;
        line-height: 1.5em;
      }
    }
    .join-us-section {
      display: block;
      flex-direction: row;
      align-content: flex-start;
      margin: 5px;

      .join-us-list {
        display: block;
        align-content: space-between;
        font-size: 16px;

        a {
          // margin: 10px;
          // display: flex;
          // // flex-direction: row;
          // align-items: center;
          // padding: 16px;
          // width: 16px;
          // height: 10px;

          .item {
            display: inline;
            justify-self: center;
            align-self: center;
          }

          span {
            padding: 5px;
            font-size: 10px;
            display: inline-flex;
            text-align: justify;
            // flex-direction: row;
            // align-items: center;
          }

          .fa-solid {
            margin-right: 20px;
            width: 16px;
            height: 16px;
          }
        }

        p {
          font-size: 12px;
          margin: 5px;
          font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
            "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        }

        // .items:nth-child(3) {
        //   flex-direction: row;
        // }
      }
      .follow {
        p {
          font-size: 12px;
          font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
            "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        }
        .fa-brands {
          padding-top: 5px;
          padding-left: 12px;
          font-size: 16px;
        }
      }
    }
    .footer {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: large;
    }
  }
}
