@media (max-width: 770px) {
  .nav {
    height: 65px;
    position: fixed;
    z-index: 19620;
    background-color: beige;
    align-items: center;
    padding: 0 32px;

    .nav-list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      position: absolute;
      top: 0px;
      right: -100%;
      background-color: rgba(255, 255, 255, 0.9);
      box-shadow: -3px 0 15px rgba(0, 0, 0, 0.35);
      width: 80%;
      height: 100vh;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      transition: 0.75s ease-out;
    }
    .nav-list li {
      height: auto;
      box-sizing: border-box;
    }
    .logo {
      width: 120;
      height: 60;
    }
    .menu-icon,
    .close-button {
      padding-right: 5px;
      display: block;
    }
    .menu-toggle:checked ~ .nav-list {
      right: 0%;
    }
    .menu-toggle:checked ~ #overlay {
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9;
    }
  }

  .come-section {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    background-size: cover;

    .button-success {
      align-self: center;
    }

    p {
      font-size: 20px;
      margin: 0 16px;
      padding: 0 8px;
      line-height: 1.8em;
    }
    h2 {
      font-size: 20px;
      margin-left: 30px;
      margin-right: 30px;
    }
  }
  .service-section {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    margin: 0 32px;

    .profile {
      padding: 0px;

      .animate {
        display: none;
      }
      .mainp {
        width: 100%;
        max-width: fit-content;
      }
    }
    .message-section {
      display: block;
      justify-self: center;
      align-self: center;
      width: 100%;
      padding: 0px;

      p {
        display: block;
        text-align: center;
        padding-right: 20px;
        margin-left: 0px;
        word-spacing: 1em;
        text-align: justify;
        line-break: 1.5em;
      }

      h2 {
        margin-top: 32px;
        align-self: center;
      }
    }
  }
  .sunday {
    line-height: 1.5em;
  }
}
