:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html{
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}
  body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  background-color:white;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  
}
.nav {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  opacity: 0.5;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
  border-bottom: 3px solid #f9d952;
  
}
.nav-list {
  display: flex;
  margin-right: 2rem;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

.nav-list a:hover {
  background:#f9d952;
}
.logo{
  margin-right:auto;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  width: 80px;
  height: 80px;
  border-radius: 40px;
}
.come-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  background-image: url("../image/back\ 1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: cover;
  
}

.come-section > p {
  font-size: 3rem;
  font-weight: 500;
  font-style: normal;
  color: white;
}
.come-section >h2{
  font-size: 2rem;
  font-weight:100;
  font-style: italic;
  color: white;
}
.btn-success{
  border-radius:  20px;;
  background-color: #f9dc5e;
  margin-top: 30px;
  padding: 10px 28px;
  font-size: 15px;
  cursor: pointer;
}
.service-section {
  display:flex;
  flex-direction: row;
  margin-left: 100px;
  margin-right: 80px;
  padding: 6rem 2rem;
}
hr{
  height: 3px;
  background-color:#f9dc5e;
  border-color:#f9dc5e;
}
.message-section{
  width: 50%;

}
.sunday{
  width: 300px;
  margin-left: 200px;
  padding: 20px;
  border-radius: 40px;
  background-color: #f9dc5e;
}

h2{
  text-align: center;
}
.service-section img{
  height: 80px;
  width: auto;
  border-radius: 50px;
  cursor: pointer;
}
.container{
  width: 100%;
  height: 60vh;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.testimony{
  position: relative;
  max-width: 900px;
  width: 100%;
  padding:50px 0;

}
.testimony img{
  width:170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;
}
.myslides .slide{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.slide q{
  padding: 0 100px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  
}
.myslides .quote-icon{
  font-size: 30px;
  color: #f9dc5e;
}
.myslides .author{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 600;
}
.myslides .role{
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 400px;
}
/*.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}
.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
q {
  font-style: italic;}
.author {
  color: cornflowerblue;}*/


.join-us-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  
}
.join-us-header{
  display:block;
  
}
.join-us-list a {
  transition: all 0.3s ease-in-out 0s;
  display: inline-block;
  padding: 30px;
  margin: 0px;
  font-size: 24px;
  color:#f9d952;
}



