
#gallery a{
    transition: 1s;
    padding: 15px;
    border-radius: 70px;

}
#gallery a:hover{
    filter: grayscale(50%);
    transform: scale(1.1);
    
}
#gallery{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    gap: 2px;
    max-width: 1400px;
    margin:0 auto;
    padding: 20px 10px;
    transition: 1s;
    filter: grayscale(30%);
}
header{
    text-align: center;
    text-transform: uppercase;
    padding:32px;
    background-color: #f9dc5e;
    color: black;
    border-bottom: 4px solid #0f0a02;
}
img{
    border-radius: 10px;
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;

}


